// CalculateSoma.scss

.calculate-soma-container {
    .card {
      margin: 20px auto;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      max-width: 600px;
      text-align: center;
  
      @media (max-width: 768px) {
        padding: 15px;
      }
    }
  
    .calculate-soma-title {
      font-size: 1.5rem;
      margin-bottom: 15px;
      color: #333;
    }
  
    .calculate-soma-result {
      font-size: 1.2rem;
      color: #555;
    }

    .code-container {
      max-width: 80vw;
      text-align: center;
      font-size: 12px;
      background-color: #f4f4f4;
      border: 1px solid #ddd;
      padding: 10px;
      border-radius: 4px;
      white-space: pre; /* Mantém a formatação do código */
  }
  }
  